<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
        layout:decorate="~{layouts/layout}"
>
<head>
    <!--    thymeleaf layout dialect가 contents페이지의 head태그를 layout의 head태그에 자동으로 추가해준다. -->
    <!--    필요힌 css, script 추가영역 -->
</head>

<div layout:fragment="content">
    <div id="main_container">
        ID : <span sec:authentication="name"></span> <br>
        소유 권한 : <span sec:authentication="authorities"></span> <br>
        <div id="start_div">
<!--            <p th:text="${name}+'님 반가워요!'"></p>-->
            <input type="button" value="시작하기" name="start" onclick="#"></div>
    </div>
</div>
</html>